@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
  background: rgb(110 231 183 / 0.1); /* Fondo de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    rgba(110, 231, 183, 0.5),
    rgba(56, 189, 248, 0.5)
  ); /* Degradado en la barra de desplazamiento con opacidad */
  border-radius: 6px; /* Esquinas redondeadas */
}

.bgBlur {
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
